<?xml version="1.0"?>
<launch>
  
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find ros_m5bala_description)/urdf/m5bala.xacro'" />
  
  <node name="rosserial_python_serial_node" pkg="rosserial_python" type="serial_node.py" args="tcp" output="screen">
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true" output="screen">
    <rosparam command="load" file="$(find ros_m5bala_drive)/launch/mode1.yaml" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros_m5bala_drive)/launch/m5bala.rviz"/>
</launch>
